/*
////////////////
Nav Styling
////////////////
*/

body {
  height: 70vw;
  border: 2px solid white;
  background-color: black;
  background-image: url("https://i.imgur.com/MOLtnHd.png");
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: 40% 50%;
}

header {
  text-align: center;
  height: 10vw;
  width:95%;
  margin-left: auto;
  margin-right:auto;
  border: 2px solid purple;
}

header h1 {
  font-size: 3vw;
  color: red;
}


header nav {
  display: flex;
  justify-content: space-around;
}

header nav a {
  text-decoration: none;
  color: green
}

header nav div {
  font-size: 2vw;
  background-color: gray;
  color: white;
  width: 12vw;
  border: 3px solid purple;
  border-radius: 7px;
  transition: background-color .2s, color .2s;
  padding: 0.5vw;
  margin-top:0.5vw;
}

header nav div:hover {
  background-color: beige;
  color: black;
}



/* 
///////////////
Auth styling
///////////////
 */

 .auth form {

  padding: 4vw;

 }
 .auth form input {
   background-color: gray;
   color: white;
   padding: 1vw;
   border: 3px solid purple;
   border-radius: 7px;
   display: block;
   margin: 2vw auto;
   text-align: center;
 }


.profile {
  border:3px solid black;
  border-radius: 10px;
  height: 40vw;
  width: 35vw;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-around;
  background-color:lightgray;
}

 .profilePic {
   height: 10vw;
   width: 10vw;
   border: 2px solid red;
   border-radius: 40px;
 }

 .nameContainer {
   border: 2px solid black;
 }

 .buttonContainer {
    height: 2.5vw;
    width: 12vw;
    display: flex;
    border: 2px solid black;
}

.welcomePage {
  border: 2px solid purple;
  text-align:center;
  margin-top: 10vw;
  margin-left: auto;
  margin-right: auto;
  height: 20vw;
  width: 40vw;
  border-radius: 20px;
  background-color: lightgray;
}

.welcomePage h1 {
  color: red;
}

.welcomePage h2 {
  color: purple;
}
 
.balloon {
  width: 250px;
  height: 75px;
  padding: 50px;
  background: #fff;
  border: 3px solid purple;
  border-radius: 50px;
  position: relative;
  font-size: 2vw;
  text-align: center;
  margin-left:41%;
  margin-right:50%;
  margin-top:10vw;
}
.balloon .tip {
  width: 0;
  height: 0;
  position: absolute;
  right: 292px;
  bottom: -20px;
  border: solid 10px;
  border-color: #fff transparent transparent transparent;
  /* border-color: purple; */
  
  /* transform: skew(0deg, 0deg); */
  transform: skewX(-45deg);
}

/* section { 
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-content: center;
} */
section { 
  padding: 1.2rem; 
}

blockquote.bubble { 
  /* background-position: center; */
  background-position: 40% 50%;
  background-repeat: no-repeat !important;
  background-size: 80% 80%;
  margin: 0 auto;
  text-align: center;
  height: 0;
  box-sizing: content-box;
  line-height: 2;
}
blockquote.speech {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/speech-bubble.svg); 
  width: 35%;
  /* padding-top: 3%; */
  padding: 2.5% 3.5% 20% 3.5%;
  /* padding-bottom: 20%; */
  font-size: 2vw;
}


.gameBoard {
  background-color:lightgray;
}