/*
////////////////
Nav Styling
////////////////
*/


header {
  text-align: center;
}


header nav {
  display: flex;
  justify-content: space-around;
}

header nav a {
  text-decoration: none;
  color: green
}

header nav div {
  font-size: 3vw;
  background-color: gray;
  color: white;
  width: 16vw;
  border: 3px solid purple;
  border-radius: 7px;
  transition: background-color .2s, color .2s;
  padding: 0.5vw;
}

header nav div:hover {
  background-color: beige;
  color: black;
}



/* 
///////////////
Auth styling
///////////////
 */

 .auth form {

  padding: 4vw;

 }
 .auth form input {
   background-color: gray;
   color: white;
   padding: 1vw;
   border: 3px solid purple;
   border-radius: 7px;
   display: block;
   margin: 2vw auto;
   text-align: center;
 }



 .tetris {
   background-color: black;
   display: flex;
   color: white;
   height: 120vw;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: center;
 }



 .grid {
   width: 48vw;
   height: 100vw;
   background-color: purple;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 4vw;
   align-content: flex-start;
   padding-top: 2vw;
   /* flex-basis: 60%; */
 }

 .grid div {
   height: 4vw;
   width: 4vw;
 }

 .tetrominoes {
   background-color: blue
 }