/*
////////////////
Nav Styling
////////////////
*/


header {
  text-align: center;
}


header nav {
  display: flex;
  justify-content: space-around;
}

header nav a {
  text-decoration: none;
  color: green
}

header nav div {
  font-size: 3vw;
  background-color: gray;
  color: white;
  width: 16vw;
  border: 3px solid purple;
  border-radius: 7px;
  transition: background-color .2s, color .2s;
  padding: 0.5vw;
}

header nav div:hover {
  background-color: beige;
  color: black;
}



/* 
///////////////
Auth styling
///////////////
 */

 .auth form {

  padding: 4vw;

 }
 .auth form input {
   background-color: gray;
   color: white;
   padding: 1vw;
   border: 3px solid purple;
   border-radius: 7px;
   display: block;
   margin: 2vw auto;
   text-align: center;
 }



 /* .gameContainer {
  position: relative;
  height: 800px;
  width: 800px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
 }


 .snakeDot {
   position: absolute;
   width: 3%;
   height: 3%;
   background-color: green;
   border: 1px solid gray;
   z-index: 2;
 }

 .snakeFood {
   position: absolute;
   width: 3%;
   height: 3%;
   background-color: red;
   border: 1px solid gray;
   z-index: 1;

 } */




/* .gridContainer {
  height: 100vw;
  width: 100vw;
  border: 2px solid green;
  display: flex;
  flex-wrap:wrap;
  align-content: flex-start;
}


.gridDots {
  height: 2%;
  width: 2%;
} */



 